body {
    font-family: "roboto", sans-serif;
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #75B9BE;
    --secondayu-color: #A8CCC9;
    --accent1-color: #DCEAB2;
    --accent2-color: #C7D66D;

    --heading-font: "roboto", serif;
    --paragraph-font: "roboto", serif;

    --nav-background-color: #75B9BE;
    --nav-link-color: #C7D66D;
    --nav-hover-link-color: #A8CCC9;
    --nav-hover-background-color: #DCEAB2;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-colorbackground-color);
}



