nav {
    background-color: #3d7a8f;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 200px;
    margin: 0;
    border: 2px solid rgba(0,0,0,0.3);
    padding: 1em;
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 100px;
    border-top: 2px solid rgba(0,0,0,0.3);
    text-align: center;
}